/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/RemoteSystemsTempFiles/
/.metadata/
/.gitignore
/.buildpath
/.project
/public/
/.settings/
/.metadata
/config/ide-helper.php
/config/trustedproxy.php
